<h2>The Mission</h2>
<p>
	We <mark>invigorators</mark> have been a part of the world revolution since 1969. Empowering <b>individuals</b> to blossom into their true exponential self through our genius system! This is not a pyramid scheme it's a paradigm. 
 
</p>