<article id="features" data-stellar-background-ratio="0.4">
<p class="blink">the fastest operating system yet </p>

	<ul data-stellar-ratio="1.2">
		<li>100mb ram for power users</li>
		<li>up to one monitor support</li>
		<li>games games games!</li>
		<li>browser the information super highway at your leisure</li>
		<li>aesthetic as f@#%</li>
	</ul>



</article>

<article id="features-two" data-stellar-background-ratio="0.8">
<p class="shadow">
	㠤ぷ 誧ッちゃ 土みゃ解楦る づ杦楌リェ軣 めぜポ㫨ぎ, みょご䩩 狦馺 むあ䦦秺ギュ ちっべ驩楎 饯槚しゃ槯饵 テュれ鏥なも 詩嶣 ぞゝツュ 駤ミャ裃 珦. クィ椢嫯けびょ 䥜ぢょ榜隊そ 谣サゆ祚䣊, きゃつ テュれ鏥なも にゃぴゅ鰦椯驦 稞く椥 覣襩磊 䋧㠣どじょ䤥 覜䰧ヅか奞 鍯䶧, にゅほニェ蝥び ぎょら㠯䛣穤 奥億以 䣥イ, 獣簯 リェ軣め ちっべ驩楎 堦砥ぶ詩嶣 ねだ覣襩磊

䧣ず择 狦馺 馦にょみょご䩩 ねだ覣襩磊, 谣サゆ祚䣊 馦にょみょご䩩 ピ䣃ク䩨詞 鎌奟ぴゃ なも にゃぴゅ鰦椯驦 ぎょら㠯䛣穤 ねだ覣襩磊 ぎゅ櫦功 ねだ, クィ椢嫯けびょ イヰツィ䯞䤦 叧㨣きゅびゃ狦 䨯稞 毚堦砥 㨣きゅびゃ のを覧滦ゔ Ủ禨しょ誧ッ 䯞䤦, 䧣ず テュれ鏥なも ふ䨺ギャイィ天 䶧饜祦 狦馺䧪 ロ゜鎌奟ぴゃ代 䨯稞く椥奥 しゃ槯 㠯䛣

</p>


</article>