<article id="features">
<p class="blink">the fastest operating system yet </p>

	<ul>
		<li>100mb ram for power users</li>
		<li>up to one monitor support</li>
		<li>games games games!</li>
		<li>browser the information super highway at your leisure</li>
		<li>aesthetic as f@#%</li>
	</ul>


</article>