<article>
	<h3>Embrace the future now.</h3>
	<h3>Change your life forever.</h3>
	<h3>Discover the powers of Invigoron</h3>
</article>

<aside id="index">
	<img src="/images/future_pc.jpg" width="300px" height="500px">
</aside>