<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Invigoron</title>
	<link rel="stylesheet" type="text/css" href="/styles/custom.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="js/glitch-canvas.js"></script>
	<script type="text/javascript" src="js/stellar.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</head>
<body id="body-purchase">

<header> 
	<canvas id="canvas-one" width="968" height="100" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>
	
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/purchase">Purchase</a></li>
			<li><a href="/features">Features</a></li>
			<li><a href="/software">Software</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>

<section>

<article id="purchase">
	<img src="http://i.imgur.com/D9aluch.jpg" alt="computerwave">
	<p>Bring your computer to new heights with Windows 94</p>
	<ul id="purchase-list">
		<li>Credit Cards Accepted</li>
		<li>Lifetime happiness</li>
		<li>Aesthetic Satisfaction guaranteed</li>
	</ul>

	<h2>
		Home User...<button>buy now</button>
	</h2>
	<h2>
		Enterprise User...<button>buy now</button>
	</h2>
</article>
</section>

<footer>
	<p>for the aesthetic windows consumer</p>
</footer>
</body>
</html>