$font-default: 16px; 
$font-size-hero: 4.5rem;
$font-size-body: 2rem;
$font-line-body: 1.3; 
$font-size-footer: 3.5rem; 
$font-logo: 'impact', serif; 
$font-body: 'Times New Roman', sans-serif; 
$color-primary: hsl(56, 76%, 58%);
$color-primary-transparent: hsla(13, 82%, 52%, .9);
$color-secondary: hsl(156, 3%, 28%);

html {
	font-size: $font-default; 
}
body {
	font-family: $font-body;
	width: 80%;
	max-width: 968px;
	margin: 0 auto;
	background-color: #202322;
}

#body-purchase {
	background: url('http://i.imgur.com/u5bynwL.gif');
		background-size: cover;
}

header {
	#logo {
		font-family: $font-logo;
		font-size: $font-size-hero;
		color: #F7F7F7;
		background-color: navy;
		#slogan {
			font-size: $font-size-body - .5;
		}
	}

	ul {
		margin-top: 0;
		padding: 0;
		li {

			display: inline;
			margin: 0 10px;
			background: -webkit-linear-gradient(25deg, #FF52C6, #38B2F4);
  			-webkit-background-clip: text;
 		 	-webkit-text-fill-color: transparent;
 		 	a {
 		 		text-decoration: underline; 
 		 		border-bottom: 1px solid #42C2D7;
 		 	}
		}
	}
}

section {
	margin: 0;
	article {
		background: cover;
		background-image: url('http://i.imgur.com/f9uskjC.gif');
		p {
			font-size: $font-size-hero; 
			text-align: center;
			margin-top: 5px;
		}
	}

	#features {
		background-image: url('http://i.imgur.com/0KeeI2s.gif');
		height: 700px;
	}

	ul {
		position: absolute;
		top: 38%;
		left: 40%;	
		list-style-image: url('http://i.imgur.com/h8TxMuF.png');
	}

	#features-two {
		background: url('http://i.imgur.com/z4yx8Yv.gif') repeat center center fixed;
		background-size: cover;
		height: 700px;
		p {
		font-size: $font-size-body;
		color: transparent;
		transition: text-shadow 1s ease; 
		}
	
	}

	#purchase {
		background-color: #3775D9;
		background-image: none; 
		background-size: cover;
		height: 700px; 

		p {
			color: #F3FF00;

			text-shadow: -2px 2px 10px #D5C70F;
		}
	}

}

footer {
	color: #F7F7F7;
	background-image: url('http://i.imgur.com/HQGj5lv.jpg');
	padding: 10px; 
	clear: both;
	height: 90px;
	margin-bottom: 30px;
	p {

		font-size: $font-size-footer;
		text-align: center;
		background: -webkit-linear-gradient(45deg, #FF37DC, #F4E80E);
  		-webkit-background-clip: text;
 		 -webkit-text-fill-color: transparent;
	}
}

.shadow {
	text-shadow: -5px 5px 0px #00e6e6,
                 -7px 7px 0px #01cccc,
                 -11px 11px 0px #522ABD;
	}

